@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}


.login{
  max-width: 800x;
  width: 100vw;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  box-shadow: 1px 3px 10px #e9ecef;
  background-color: white;
}

.login span{
  color: #adb5bd;
}


#login-form{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
  justify-content: center;
}

#login-form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}

#login-form > input:focus{
  outline: none;
}

#login-form > .btn{
  background-color: #003049;
  color: #efe9eb;
  font-size: 1em;
  cursor: pointer;
}

.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}

.login .col-1{
  margin: auto;
  padding: 3em 0;
}
